.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container select {
    width: 110px;
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: whitesmoke;
}

.searchContainer {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 28px;
    height: 28px;
}

.search {
    width: 140px;
    border-radius: 8px;
    background-color: #363636;
    padding-left: 40px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    color: whitesmoke;
    transition: width 500ms ease;
}

.search:focus {
    width: 200px;
}