.nav_list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #363636;
    padding: 20px;
    width: 100%;
}

.link {
    color: whitesmoke;
    text-decoration: none;
}

.active {
    color: #22C55E;
    text-decoration: underline;
}