.ul {
    display: flex;
    background-color: #0F2A1F;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
}

.ul a {
    color: #A7F3D0;
    text-decoration: none;
    padding: 20px 0 20px 0;
}