.container {
  position: relative;
  height: 100%;
}

.modal_btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  color: #22C55E;
}
