#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: #1E1E1E;
  font-family: "Manrope", sans-serif;
  padding: 0 10px;
  color: whitesmoke;
  overflow: hidden;
  font-weight: bold;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body, ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input, select, textarea {
  border: none;
  outline: none;
  font-size: 16px;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #22C55E;
  box-shadow: 0 0 0 3px rgba(34, 197, 94, 0.2);
}

button {
  background: #363636;
  border: 1px solid #22C55E;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 40px;
  color:#22C55E;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transition: scale 250ms ease;
}

button:hover {
  scale: 1.1;
}