.container {
    background-color: #0F2A1F;
    padding: 20px;
    border-radius: 20px;
}

.innerContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.income {
    text-align: center;
    background-color: #22C55E;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: #ECFDF5;
}

.income p, .expenses p {
    margin-top: 25px;
}

.expenses {
    text-align: center;
    background-color: #F87171;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: #ECFDF5;
}


